.secForm {
    width: 100%;
}

.form {
    background-color: #6d6d6d;
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    padding: 1em;
}

.field {
    display: grid;
    grid-template-columns: 200px 200px;
    height: 2.5em;
    align-items: center;
}

.field-frame {
    padding: 0.5em;
}

.btnCreate, .btnNew {
    grid-column: 1 / 3;
    padding: 0.5em;
}

.field-frame {
    border: none;
    background-color: #6d6d6d;
    color: azure;
}

.field-frame-noActive {
    border-bottom: 1px solid #6d6d6d;
}

.field-frame-active {
    border-bottom: 1px solid #444141;
}