.field {
    display: grid;
    grid-template-columns: 200px 200px;
    height: 2.5em;
    align-items: center;
}

.field-frame {
    padding: 0.5em;
}

.btnCreate, .btnNew {
    grid-column: 1 / 3;
    padding: 0.5em;
}

